{% extends 'base.html' %} 


{% block body %}

<h1 class="page-head">Gestion des Utilisateurs</h1>

<div class="container">
  <a href="/ajouter-utilisateur" class="add"><i class="fa-solid fa-user-plus"></i> Ajouter Utilisateur</a>
  <a href="/afficher-utilisateurs" class="add"><i class="fas fa-users"></i> Afficher Utilisateurs</a>
  <a href="/supprimer-utilisateur" class="delete"><i class="fa-solid fa-user-minus"></i> Supprimer Utilisateur</a>
</div>

<div class="btn">
  <a href="/" class="return-btn">Retour</a>
</div>

{% endblock %}
