{% extends 'base.html' %} 

{% block body %}

{% if existe is not none %}
    {% if existe %}
        <div class="alert alert-danger alert-dismissible text-center mx-5" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            Ce livre existe déjà dans la bibliothèque!
        </div>
    {% else %}
        <div class="alert alert-success alert-dismissible text-center mx-5" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            Le livre a été ajouté avec succès!
        </div>
    {% endif %}
{% endif %}


<h1 class="page-head">Ajouter Livre</h1>

<form action="/ajouter-livre" method="post">
  <div class="conteunair">
    <div class="form-group">
      <label for="isbn">ISBN :</label>
      <input
        type="text"
        class="form-control"
        id="isbn"
        name="isbn"
        placeholder="Entrer ISBN"
        required
      />
    </div>
    <div class="form-group">
      <label for="titre">Titre :</label>
      <input
        type="text"
        class="form-control"
        id="titre"
        name="titre"
        placeholder="Entrer le titre du livre"
        required
      />
    </div>
    <div class="form-group">
      <label for="auteur">Auteur :</label>
      <input
        type="text"
        class="form-control"
        id="auteur"
        name="auteur"
        placeholder="Entrer l'auteur du livre"
        required
      />
    </div>
    <div class="form-group">
      <label for="quantite">Quantité :</label>
      <input
        type="number"
        class="form-control"
        id="quantite"
        name="quantite"
        placeholder="Entrer la quantité du livre"
        required
      />
    </div>
    <div>
      <input type="submit" class="btn btn-outline-primary" value="Ajouter" />
      <input
        type="reset"
        class="btn btn-outline-secondary"
        value="Réinitialiser"
      />
    </div>
  </div>
</form>
<div class="text-center my-4">
    <a href="/gestion-livres" class="return-btn">Retour</a>
</div>




{% endblock %}
